<div class="jumbotron">
	<p>To get started create an account. Then spend some time reviewing the units and going over the examples. When you're ready move on to the interactive questions and quiz yourself on what you learned!</p>
</div>