<div class="jumbotron center">
	<h1>Welcome to Grammar Class</h1>
	<h3>Sign in to get started with the course!</h3>
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>