<div class="jumbotron center">
	<h1>Welcome to Grammar Class</h1>
	<h3>Sign up or sign in to get started with the course, or feel free to browse the units!</h3>
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>