<h1>Example 1</h1>

<section>
	<p class="example-intro"></p>
</section>

<section>
	<h4 class="example example-sentence example-example"> <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"> <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example"><span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"><span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro"></p>
</section>

<section>
	<h4 class="example example-sentence example-example"> <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"> <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example"><span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"><span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 3</h1>

<section>
	<p class="example-intro"></p>
</section>

<section>
	<h4 class="example example-sentence example-example"> <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"> <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example"><span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"><span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<h1>Example 4</h1>

<section>
	<p class="example-intro"></p>
</section>

<section>
	<h4 class="example example-sentence example-example"> <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"> <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example"><span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation"></p>
	<h4 class="example example-corrected example-corrected"><span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>



