<h1>Examples</h1>

<section>
	<p class="example-intro">Colons are most commonly used with two main clauses, one of which supplies explains or follows from the other. They are also used to introduce lists, and in some instances, to introduce quotations or dialogue. </p>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse took time to volunteer in his community<span class="red">;</span> he taught first-aid and CPR at the local YMCA.</h4>
	<p class="example example-explanation example-explanation">Once again the above example is not technically incorrect. We have two independent clauses joined with a semicolon, which is correct; however, because the second sentence is a direct explanation of the first, a colol more directly expresses the sentence's intended meaning.</p>
	<h4 class="example example-corrected example-corrected">The nurse took time to volunteer in his community<span class="green">:</span> he taught first-aid and CPR at the local YMCA.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Replacing the semicolon with a colon conveys more directly the relationship between the second clause and the first.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient listed her current medications<span class="red">,</span> ativan, lipitor, and welbutrin.</h4>
	<p class="example example-explanation example-explanation">In this example we have a list of items being introduced by the clause "the patient listed her current medications." These situations call for colons, not commas, and using the comma here greatly reduces the sentence's clarity.</p>
	<h4 class="example example-corrected example-corrected">The patient listed her current medications: ativan, lipitor, and welbutrin.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence becomes much more clear when we replace the comma with a colon.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Never forget the famous words of Hippocrates<span class="red">,</span> "Cure sometimes, treat often, comfort always."</h4>
	<p class="example example-explanation example-explanation">Here we see a comma used to introduce a quotation. While this is not technically incorrect, our sentence would benefit from using a colon instead.</p>
	<h4 class="example example-corrected example-corrected">Never forget the famous words of Hippocrates<span class="green">:</span> "Cure sometimes, treat often, comfort always."</h4>
	<p class="example corrected-explanation example-corrected-explanation">Replacing the comma with a colon better reflects the relationship between the two clauses, improving the sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>