<h1>Examples</h1>

<section>
	<p class="example-intro">The first principal use of apostrophes is for denoting possessives. This typically occurs by adding an apostrophe and an "s." In certain instances, such as with "its," the possessive form has no apostrophe.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">Before beginning the interview, the nurse checked the <span class="red">patients</span> vital signs.</h4>
	<p class="example example-explanation example-explanation">This example incorrectly omits the apostrophe from the possessive form "patient's." Leaving out the apostrophe forms the plural form of the word, not the possessive.</p>
	<h4 class="example example-corrected example-corrected">Before beginning the interview, the nurse checked the <span class="green">patient's</span> vital signs.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Here we see the correct possessive form, "patient's."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">After investigating the problem, the nurse realized that the computer had simply lost <span class="red">it's</span> connection to the database.</h4>
	<p class="example example-explanation example-explanation">Probably the most common error relating to possessives is the usage of the incorrect possessive form of "it." When we add an apostrophe-s to the end of "it," we are actually writing the contraction "it is." The possessive form of it has no apostrophe, it is simply "its."</p>
	<h4 class="example example-corrected example-corrected">After investigating the problem, the nurse realized that the computer had simply lost <span class="green">its</span> connection to the database.</h4>
	<p class="example corrected-explanation example-corrected-explanation">To correct the sentence, we replace the incorrect form, "it's," with the correct form, "its."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Before he left, he made sure to touch base with the nurse <span class="red">who's</span> shift followed his. </h4>
	<p class="example example-explanation example-explanation">This is another example of a word that has a possessive not formed with an apostrophe. "Who's" is the contraction meaning, "who is." The possessive form of who is "whose."</p>
	<h4 class="example example-corrected example-corrected">Before he left, he made sure to touch base with the nurse <span class="green">whose</span> shift followed his. </h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by replacing the contraction, "who's," with the possessive, "whose."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>