<h1>Example 1</h1>

	<section>
		<p class="example-intro">Two of the most commonly confused words are <b>affect</b> and <b>effect</b>. They may sound similar, but they actually mean very different things. <b>Affect</b> is a <i>verb</i> that means "to influence". <b>Effect</b> is a <i>noun</i> that means "result". One trick to keeping these two straight is to remember that affect is an action (they both start with A's!) while effect is a thing.</p>
	</section>

	<section>
		<h4 class="example example-sentence example-example">The <span class="red">affects</span> of the treatment were more positive than the team had originally hoped for.</h4>
		<p class="example example-explanation example-explanation">Here we see affects being used as a noun instead of a verb. Remember, affects with an "a" is always an action.</p>
		<h4 class="example example-corrected example-corrected">The <span class="green">effects</span> of the treatment were more positive than the team had originally hoped for.</h4>
		<p class="example corrected-explanation example-corrected-explanation">Now we're looking better! We've replaced the verb "affects" with the noun "effects", and corrected the sentence.</p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

	<section>
		<h4 class="example example-sentence example-example">Doctors and nurses both must be aware of how their actions <span class="red">effect</span> patient quality of life.</h4>
		<p class="example example-explanation example-explanation">In this example we see effect being used as an action, which is incorrect.</p>
		<h4 class="example example-corrected example-corrected">Doctors and nurses both must be aware of how their actions <span class="green">affect</span> patient quality of life.</h4>
		<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by replacing the noun "effect" with the verb "affect".</p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

<hr>

<h1>Example 2</h1>

	<section>
		<p class="example-intro">Another set of commonly confused words are <b>insure</b>, <b>ensure</b> and <b>assure</b>. Because they are all verbs, part of speech won't help us determine which is correct, so we'll just need to remember the different meanings of each. To <b>insure</b> means "to protect against loss", to <b>ensure</b> means "to make certain", and to <b>assure</b> means "to give confidence". There aren't really any shortcuts here, you'll just have to commit them to memory! Check out the following examples. </p>
	</section>

	<section>
		<h4 class="example example-sentence example-example">It's up to every person in a healthcare environment to <span class="red">insure</span> that each patient gets the best care possible.</h4>
		<p class="example example-explanation example-explanation">At first glance you might think this one is correct, but be careful! What is the action being taken in this sentence? Aren't we trying to <i>make certain</i> that each patient gets the best care possible?</p>
		<h4 class="example example-corrected example-corrected">It's up to every person in a healthcare environment to <span class="green">ensure</span> that each patient gets the best care possible.</h4>
		<p class="example corrected-explanation example-corrected-explanation">That's more like it! Remember, to <b>insure</b> means to protect something against loss, whereas to <b>ensure</b> means to make certain of something.</p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

	<section>
		<h4 class="example example-sentence example-example">There are a number of companies that <span class="red">ensure</span> patients' healthcare costs.</h4>
		<p class="example example-explanation example-explanation">This example is talking about a financial insurance policy, so the correct word is "insure"</p>
		<h4 class="example example-corrected example-corrected">There are a number of companies that <span class="green">insure</span> patients' healthcare costs.</h4>
		<p class="example corrected-explanation example-corrected-explanation">To correct the sentence, we replace "ensure" with "insure". Remember to keep your "i" on your money!</p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

	<section>
		<h4 class="example example-sentence example-example">The veteran nurse took the time to <span class="red">ensure</span> the newer nurses that they would learn to adapt to and thrive in the hospital's chaos, and that every nurse had experienced what they were now experiencing.</h4>
		<p class="example example-explanation example-explanation">This sentence incorrectly uses "ensure' in place of "assure". Remember that "assure" should be used in situations where the subject is trying to relieve another's doubts or assert something positively.</p>
		<h4 class="example example-sentence example-corrected">The veteran nurse took the time to <span class="red">ensure</span> the newer nurses that they would learn to adapt to and thrive in the hospital's chaos, and that every nurse had experienced what they were now experiencing.</h4>
		<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by replacing "ensure" with "assure".</p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

<hr>

<h1>Example 3</h1>

	<section>
		<p class="example-intro">Next up on our list of commonly confused words, "principal" and "principle". Easily confused due to identical pronounciations, the two actually serve very different roles and have very different meanings. "Principal" is an adjective that is used to designate something as primary, or chief, or first-order, whereas "principle" is a noun that means a standard or value. Here's a few examples of how the confusion occurs.</p>
	</section>

	<section>
		<h4 class="example example-sentence example-example">Because of their proximity and the frequency of their visits, nurses will often become a patient's <span class="red">principle</span> resource.</h4>
		<p class="example example-explanation example-explanation">This sentence uses "principle" incorrectly. Instead of being used correctly as a noun, it is attached as an adjective to "resource". The role of adjective is served by "principal".</p>
		<h4 class="example example-corrected example-corrected">Because of their proximity and the frequency of their visits, nurses will often become a patient's <span class="green">principal</span> resource.</h4>
		<p class="example corrected-explanation example-corrected-explanation">Switch the two out, and the sentence is all cleaned up. If it's an adjective, use "principal" with an "a", if it's a noun, use "principle" with an "e". </p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>

	<section>
		<h4 class="example example-sentence example-example">Providing healthcare is an important and sensitive service, and all practitioners must hold themselves to certain ethical <span class="red">principals</span>.</h4>
		<p class="example example-explanation example-explanation">This sentence is the reverse of the above example. Here we use "principal" as a noun instead of an adjective. When we are talking about standards or values we are talking about "principles", not "principal".</p>
		<h4 class="example example-sentence example-corrected">Providing healthcare is an important and sensitive service, and all practitioners must hold themselves to certain ethical <span class="green">principles</span>.</h4>
		<p class="example corrected-explanation example-corrected-explanation">Switch the two out, and the sentence is all cleaned up. If it's an adjective, use "principal" with an "a", if it's a noun, use "principle" with an "e". </p>
		<button class="btn btn-large btn-primary example-button">Show Example</button>
	</section>
