<h1>Example 1</h1>

<section>
	<p class="example-intro">Commas are essential building blocks of complex and compound sentences. One of the most common uses of a comma is to join two independent clauses with a coordinating conjunction. Coordinating conjunctions include: and, but, for, or, nor, yet, and so. Commas are not needed when a sentence has one subject with multiple predicates. </p>
</section>

<section>
	<h4 class="example example-sentence example-example">The system was designed to track data between patients with similar health histories and similar treatment plans <span class="red">and</span> it had provided a wealth of knowledge to the hospital's research team.</h4>
	<p class="example example-explanation example-explanation">In this example we see two independent clauses joined with the coordinating conjunction, and. In order to keep this from being a run-on, which is what it is right now, we'll need to add a comma before the coordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">The system was designed to track data between patients with similar health histories and similar treatment plans<span class="green">, and</span> it had provided a wealth of knowledge to the hospital's research team.</h4>
	<p class="example corrected-explanation example-corrected-explanation">By adding the comma before the coordinating conjunction, and, we form a grammatically correct compound sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Nurses need to be attentive to the patient's spoken and unspoken needs<span class="red">, and</span> do their best to provide for those needs.</h4>
	<p class="example example-explanation example-explanation">This sentence is an example of a single subject with multiple predicates. In this case the subject is "nurses," and the predicates are "need to be attentive to the patient's spoken and unspoken needs and "do their best to provide for those needs." In situations like this, commas are not needed between the predicates.</p>
	<h4 class="example example-corrected example-corrected">Nurses need to be attentive to the patient's spoken and unspoken needs<span class="green"> and</span> do their best to provide for those needs.</h4>
	<p class="example corrected-explanation example-corrected-explanation">To correct the sentence, all we need to do is remove the unnecessary comma.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">Coordinating conjunctions don't always call for commas. In situations when their is no independent clause following the coordinating conjunction, a comma is not necessary and should be omitted.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The system had been implemented to track the outcomes of the different treatment methods<span class="red">, and</span> the frequency with which they occured.</h4>
	<p class="example example-explanation example-explanation">This sentence provides an unnecessary comma before the coordinating conjunction, "and." The clause following "and", "the frequency with which they occured, is not an independent clause because it lacks a verb. When we don't have an independent clause following our coordinating conjunction, we should omit the comma.</p>
	<h4 class="example example-corrected example-corrected">The system had been implemented to track the outcomes of different treatment methods and the frequency with which they occured.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is now correct. We simply removed the comma before the coordinating conjunction, "and." Whenever you see a coordinating conjunction, you should ask yourself if it is followed by an independent clause. If it is, then you need to use a comma before it.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The attending physician asked the nurse to check the patient's oxygen levels<span class="red">, and</span> perform a blood-gas analysis.</h4>
	<p class="example example-explanation example-explanation">Once again we see a comma used to join two object clauses. Because the clause "perform a blood-gas analysis" is not an independent clause (it lacks a subject), we should omit the comma before the coordinating conjunction, "and."</p>
	<h4 class="example example-corrected example-corrected">The attending physician asked the nurse to check the patient's oxygen levels <span class="green">and</span> perform a blood-gas analysis.</h4>
	<p class="example corrected-explanation example-corrected-explanation">By removing the comma before the coordinating conjunction, "and," we are able to correct our sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 3</h1>

<section>
	<p class="example-intro">Commas can be needed when a sentence includes and introductory phrase, a dependent clause, or a non-essential clause. The following examples will review the proper ways to use commas in these situations.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">After checking the patient's vitals <span class="red">the</span> nurse took a blood sample.</h4>
	<p class="example example-explanation example-explanation">Our first example shows us a sentence with the introductory phrase, "After checking the patient's vitals." In order to make this sentence correct, we need to add a comma after the introductory phrase.</p>
	<h4 class="example example-corrected example-corrected">After checking the patient's vitals<span class="green">, </span>the nurse took a blood sample.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Adding the comma after our introductory phrase corrects the sentence. Introductory phrases set up or provide context for the rest of the sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">To ensure that they provide quality care<span class="red"> healthcare providers</span> must always stay up to date with clinical research.</h4>
	<p class="example example-explanation example-explanation">This sentence provides an example of a dependent clause. The clause "to ensure that they provide quality care" depends upon the rest of the sentence for its context, and because of this, it needs to be followed by a comma.</p>
	<h4 class="example example-corrected example-corrected">To ensure that they provide quality care<span class="green">,</span> healthcare providers must always stay up to date with clinical research.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by providing the missing comma after our dependent clauses. Remember, dependent clauses are those that don't form complete thoughts on their own.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient's primary physician requested a blood gas analysis<span class="red"> which</span> includes pH, pO<sub>2</sub>, and hemoglobin.</h4>
	<p class="example example-explanation example-explanation">Here we see an example of an non-essential clause. The clause, "which includes pH, pO<sub>2</sub>, and hemoglobin," is not an essential part of the sentence, as the sentence still provides the same meaning whether this clause is included or not. Commas should be used in these situations.</p>
	<h4 class="example example-corrected example-corrected">The patient's primary physician requested a blood gas analysis<span class="green">, which</span> includes pH, pO<sub>2</sub>, and hemoglobin.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by adding the necessary comma before the non-essential clause, "which includes pH, pO<sub>2</sub>, and hemoglobin."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 4</h1>

<section>
	<p class="example-intro">Commas also need to be used in situations with lists that contain more than two items. This comma is known as the "Oxford comma." Some style guides say it isn't strictly necessary, but the APA recommends always using it to improve sentence clarity.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">During the initial examination, the nurse recorded the patients height, weight<span class="red"> and</span> blood pressure.</h4>
	<p class="example example-explanation example-explanation">In this example, we are given a list of three items. The last two items are joined with the coordinating conjunction, "and," alone. This can be a confusing structure because weight and blood pressure could be interpreted as a joint second item in the list, when in fact the three items are intended to be distinct and equal weighted.</p>
	<h4 class="example example-corrected example-corrected">During the initial examination, the nurse recorded the patients height, weight<span class="green">, and</span> blood pressure.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Adding the Oxford comma gives the list the balance it was missing with its initial structure, and the sentence is corrected.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>


