<h1>Example 1</h1>
<section>
	<p class="example-intro">All sentences must have a <b>subject</b> and a <b>verb</b>, and must express complete thoughts. Phrases without subjects provide action without actor, and phrases without verbs provide actor but no action.</p>
</section>
<hr>
<section>
	<h4 class="example example-sentence example-example">Runs quickly down the hallway and around the corner. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">This phrase is a sentence fragment because it lacks a <i>subject</i>. We have an action, "runs quickly down the hallway and around the corner," but no actor. The thought is incomplete until we know who or what is performing the action</p>
	<h4 class="example example-corrected example-corrected">The dog runs quickly down the hallway and around the corner. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">That's better! We've given our sentence a subject, the dog, to perform our action, and we now have a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
<section>
<hr>
<h4 class="example example-sentence example-example">Runs quickly down the hallway and around the corner. <span class="red">FRAGMENT!</span></h4>
<p class="example example-explanation example-explanation">This phrase is a sentence fragment because it lacks a <i>subject</i>. We have an action, "runs quickly down the hallway and around the corner," but no actor. The thought is incomplete until we know who or what is performing the action</p>
<h4 class="example example-corrected example-corrected">The dog runs quickly down the hallway and around the corner. <span class="green">SENTENCE</span></h4>
<p class="example corrected-explanation example-corrected-explanation">That's better! We've given our sentence a subject, the dog, to perform our action, and we now have a complete sentence.</p>
<button class="btn btn-large btn-primary example-button">Show Example</button>
