<h1>Example 1</h1>

<section>
	<p class="example-intro">The most common use of semicolons is for linking two independent clauses. This usage can also include a transitional phrase. Common transitional phrases are: however, moreover, therefore, and otherwise; however, a transitional phrase is not required, and a semicolon alone is enough to join two independent clauses. When using a transitional phrase, it should be followed with a comma.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient's overall condition had improved greatly<span class="red">, however</span> the doctor's still wanted the patient to stay overnight for continued observation.</h4>
	<p class="example example-explanation example-explanation">This example is in fact a run-on sentence due to the improper use of a comma. When joining independent clauses, commas must be accompanied by a coordinating conjunction. With transitional phrases such as "however," we need to employ a semicolon.</p>
	<h4 class="example example-corrected example-corrected">The patient's overall condition had improved greatly<span class="green">; however,</span> the doctor's still wanted the patient to stay overnight for continued observation.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by replacing the comma before our transitional phrase with a semicolon and adding a comma after our transitional phrase. </p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The hospital's child care center is one of the most well respected in the country. Parents come from around the world seeking out the best care for their children.</h4>
	<p class="example example-explanation example-explanation">This example is in fact correct. We are given two complete sentences, seperated by a period. Whether we want to use a semicolon to join these sentences is a matter of preference. Typically semicolons are used when the writer wants to emphasize the link between two sentences.</p>
	<h4 class="example example-corrected example-corrected">The hospital's child care center is one of the most well respected in the country; parents come from around the world seeking out the best care for their children.</h4>
	<p class="example corrected-explanation example-corrected-explanation">By replacing our period with a semicolon, we change our sentence into a grammatically correct compound sentence. Notice how the addition of the semicolon emphasizes the connection between the two sentences' meanings.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">The other uses for semicolons are less common, but still important. There are times, in particularly complex sentences, with many parts and several commas; that a semicolon, used to denote the major break in the sentence, can greatly increase the sentence's clarity. Also, semicolons can be called for when listing complex items.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The young nurse, who was a part of nurses without borders, had spent the past two years in Africa, where she had provided care for a rural village<span class="red">, so</span> when she arrived at the hospital, she already posessed a wealth of cultural experience.</h4>
	<p class="example example-explanation example-explanation">This sentence is not technically incorrect; so is a coordinating conjunction, so using it and a comma to join two independent clauses is okay; however, because of the number of commas already in the sentence, it may increase the clarity of the sentence to use a semicolon instead.</p>
	<h4 class="example example-corrected example-corrected">The young nurse, who was a part of nurses without borders, had spent the past two years in Africa, where she had provided care for a rural village<span class="green">; so</span> when she arrived at the hospital, she already possessed a wealth of cultural experience.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Replacing the comma with a semicolon makes it more clear where our two independent clauses meet. If there are already a large number of commas in a sentence, consider using a semicolon.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse still had to visit three patients: Rodriguez, Michael<span class="red">,</span> Palmer, Dale<span class="red">,</span> and Sceroni, Marla.</h4>
	<p class="example example-explanation example-explanation">Here we see an example of a complex list in which each item includes a comma. In situations like this, using commas as separators decreases readability, so we should instead use semicolons.</p>
	<h4 class="example example-corrected example-corrected">The nurse still had to visit three patients: Rodriguez, Michael<span class="green">;</span> Palmer, Dale<span class="green">;</span> and Sceroni, Marla.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The use of the semicolon instead of the comma greatly increases the readability of our sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>