<h1>Example 1</h1>

<section>
	<p class="example-intro">All sentences must have a <b>subject</b> and a <b>verb</b>, and must express complete thoughts. Phrases without subjects provide action without actor, phrases without verbs provide actor but no action.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">Adjusts the patient's medications and reviews the patient's charts. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">This phrase is a sentence fragment because it lacks a <i>subject</i>. We have an action, "Adjusts the patient's medications and reviews the patient's charts," but no actor. The thought is incomplete until we know who or what is performing the action</p>
	<h4 class="example example-corrected example-corrected">The doctor adjusts the patient's medications and reviews the patient's charts. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">That's better! We've given our sentence a subject, the doctor, to perform our action, and we now have a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurses who worked in the intensive care unit. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">In this example we have a sentence fragment due to a lacking action. We are provided a subject, but no verb. Examples like this should remind you that sentence fragments aren't always short in length. To correct it we need to use a verb to describe an action relating to our subject.</p>
	<h4 class="example example-corrected example-corrected">The nurses who worked in the intensive care unit responded quickly and efficiently. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">That's better! We've given our subject, the nurses, an action, responding. Now the example is a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">Another type of sentence fragment is the <b>dependent clause</b>. A dependent clause is a phrase that relies on <b>context</b> from another phrase to express a complete thought. Dependent clauses are often constructed through the use of <b>subordinating conjunctions</b>. Examples of subordinating conjunctions are: after, although, before, if, though, unless, until, when, and while. Notice how subordinating conjunctions create a relationship between the phrase and another, different, phrase. Now review the following examples.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">After the patient had been resuscitated and stabilized. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">This phrase is a dependent clause due to the subordinating conjunction <b>after</b>. Instead of expressing a complete thought, this phrase leaves us waiting for what comes after it.</p>
	<h4 class="example example-corrected example-corrected">After the patient had been resuscitated and stabilized, the nurses monitored her vital signs closely. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">By providing the context that our subordinating clause, <b>after</b>, relied on, we turn our fragment into a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Though the possible diagnoses were many and varied. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">This example is similar to the first, only here we use the subordinating conjunction, <b>though</b>, instead of after. Again, notice the way our subordinating conjunction leaves us waiting for something else.</p>
	<h4 class="example example-corrected example-corrected">Though the possible diagnoses were many and varied, the team was quickly and efficiently able to identify the correct one. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Once again we supply the context that our subordinating conjunction points to, and we correct the sentence fragment. When the subordinating clause comes before the context, remember to use a comma to connect the two phrases.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">While the patient answered the questions. <span class="red">FRAGMENT!</span></h4>
	<p class="example example-explanation example-explanation">Again we have a subordinating conjunction, <b>while</b> that is missing context. In this case we are left wonder what occured while the patient answered questions.</p>
	<h4 class="example example-corrected example-corrected">The nurse listened closely while the patient answered questions. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Providing the context for our subordinating conjunction turns the fragment into a complete sentence. Notice that there is no comma needed when the context comes before the subordinating conjunction</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>


