<h1>Example 1</h1>

<section>
	<p class="example-intro">The first set of words with irregular plural forms we will cover consists of the words "datum" and "ovum". Their respective plural forms are "data" and "ova". A particularly common error is to use the singular verb forms, such as "is", with the plural forms of the these words.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">All the patients' data <span class="red">is</span> entered into their records as <span class="red">it is</span> recorded.</h4>
	<p class="example example-explanation example-explanation">Our first example highlights the error discussed in the introduction. Here the singular verb form "is" and the singular pronoun "it" are used with the plural noun, "data". To correct this we'll need to replace both instances of singular forms with their correct plural forms. </p>
	<h4 class="example example-corrected example-corrected">All the patients' data <span class="green">are</span>entered in their records as <span class="green">they are</span> recorded.</h4>
	<p class="example corrected-explanation example-corrected-explanation">This sentence is corrected replacing the singular forms "is" and "it" with their respective plural forms "are" and "they".</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">With in vitro fertilization, the <span class="red">ova</span> and sperm are manually combined in a laboratory to form an embryo, which is then transferred to the uterus.</h4>
	<p class="example example-explanation example-explanation">This example incorrectly uses the plural form of the noun "ovum" instead of the correct singular form.</p>
	<h4 class="example example-corrected example-corrected">With in vitro fertilization, the <span class="green">ovum</span> and sperm are manually combined in a laboratory to form an embryo, which is then transferred to the uterus.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Replacing the plural form, "ova", with the singular form, "ovum", corrects the sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">The next set of irregular plurals we will cover includes the words "alumnus/alumna," "fungus," and "focus." With "alumnus/alumna," they're are two separate forms depending on the gender being referenced. "Alumnus" references a male, and its plural form is "alumni." "Alumna" references a female, and its plural form is "alumnae." The plural forms of "fungus" and "focus," "fungi" and "foci," follow the same form as "alumnus".</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The fraternity's <span class="red">alumnuses</span> and the sorority's <span class="red">alumnas</span> got together to host a philanthropic dinner.</h4>
	<p class="example example-explanation example-explanation">This sentence uses the incorrect plural forms for both "alumnus" and "alumna." To correct it we will need to replace each with its correct respective plural form.</p>
	<h4 class="example example-corrected example-corrected">The fraternity's <span class="green">alumni</span> and the sorority's <span class="green">alumnae</span> got together to host a philanthropic dinner.</h4>
	<p class="example corrected-explanation example-corrected-explanation">We replaced the incorrect plural forms "alumnuses" and "alumnas" with their correct forms "alumni" and "alumnae," and the sentence is corrected.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">There are specific <span class="red">funguses</span> that can cause severe reactions in humans, and there are a few that can even be toxic.</h4>
	<p class="example example-explanation example-explanation">This example demonstrates the most commonly used incorrect plural form of "fungi." To correct it we will need to replace "funguses" with the proper plural form.</p>
	<h4 class="example example-corrected example-corrected">There are specific <span class="green">fungi</span> that can cause severe reactions in humans, and there are a few that can even be toxic.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is corrected by replacing the incorrect form, "funguses," with the correct form, "fungi."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Maintaining proper diet and exercise plans are the important <span class="red">focuses</span> of the rehabilitation phase of treatment.</h4>
	<p class="example example-explanation example-explanation">By now, you can probably guess what the problem with this example is. The plural form of focus is "foci" not "focuses," so all we need to do to correct the sentence is to swap the two.</p>
	<h4 class="example example-corrected example-corrected">Maintaining proper diet and exercise plans are the important <span class="green">foci</span> of the rehabilitation phase of treatment.</h4>
	<p class="example corrected-explanation example-corrected-explanation">There we go. Replace the incorrect plural form with the correct one, and our sentence is corrected.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 3</h1>

<section>
	<p class="example-intro">The next irregular plural form we will cover deals with words like "appendix" and "index." The plural forms of these words are "appendices" and "indices." This it typical of latinate words ending with "x."</p>
</section>

<section>
	<h4 class="example example-sentence example-example">While doing research, the nurse had to consult the <span class="red">appendixes</span> of the reference manual for further clarification of diseases discussed.</h4>
	<p class="example example-explanation example-explanation">Here we see the incorrect plural form of "appendix", "appendixes." There are some style guides that say either form is correct, but in scientific fields "appendices" is the preferred form.</p>
	<h4 class="example example-corrected example-corrected">While doing research, the nurse had to consult the <span class="green">appendices</span> of the reference manual for further clarification of diseases discussed.</h4>
	<p class="example corrected-explanation example-corrected-explanation">The sentence is correct by replacing the improper plural form, "appendixes," with the proper form, "appendices."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The complete blood count (CBC) test includes several <span class="red">indexes</span>, including average red blood cell size (MCV), hemoglobin amount per red blood cell (MCH), and the hemoglobin concentration per red blood cell (MCHC).</h4>
	<p class="example example-explanation example-explanation">This example shows us the incorrect plural form of "index," "indexes."</p>
	<h4 class="example example-corrected example-corrected">The complete blood count (CBC) test includes several <span class="green">indices</span>, including average red blood cell size (MCV), hemoglobin amount per red blood cell (MCH), and the hemoglobin concentration per red blood cell (MCHC).</h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 4</h1>

<section>
	<p class="example-intro">The final set of irregular plural forms we will cover includes words such as "crisis" and "testis." The plural forms of these words are "crises" and "testes."  A common error with these forms is to replace the singular form with the plural form.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">Pain management and IV fluids are important parts of the treatment of a patient experiencing a sickle-cell <span class="red">crisises.</span></h4>
	<p class="example example-explanation example-explanation">Here we see the most common incorrect plural form used for "crisis," "crisises." To correct our sentence we'll need to replace it with the correct form.</p>
	<h4 class="example example-corrected example-corrected">Pain management and IV fluids are important parts of the treatment of a patient experiencing a sickle-cell <span class="green">crises</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Correcting our sentence is as simple as replacing "crisises" with the correct form, "crises."</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient was in extreme pain, and the doctor quickly recognized the patient was suffering from torsion of the left <span class="red">testes</span>.</h4>
	<p class="example example-explanation example-explanation">This example is incorrect because it uses the plural form, "testes," when the situation calls for the singular form. To correct this, we'll need to replace "testes" with the proper singular form, "testis."</p>
	<h4 class="example example-corrected example-corrected">The patient was in extreme pain, and the doctor quickly recognized the patient was suffering from torsion of the left <span class="green">testis</span>.</h4>
	<p class="example corrected-explanation example-corrected-explanation">We've replaced the plural form, "testes," with the correct singular form, "testis," and our sentence is now correct.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>



