<h1>Example 1</h1>

<section>
	<p class="example-intro">The simplest way to fix comma splices is to divide the two independent clauses into seperate sentences. The following examples present sentences with comma splices, and then corrects them by splitting them into seperate sentences. </p>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse left his job at the hospital, he took a job in a private practice. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">Here we see a comma splice. The two independent clauses, "the nurse left his job at the hospital" and "he took a job in a private practice", are connected with nothing but a comma.</p>
	<h4 class="example example-corrected example-corrected">The nurse left his job at the hospital. He took a job in a private practice. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Fixing the comma splice is as simple as replacing the comma with a period and capitalizing the first letter of our second clause. Instead of a compound sentence, we are left with two independent sentences.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient's diagnosis could not be confirmed, the doctor was still waiting on the test results. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">This example is very similar to the last one. We are given two independent clauses, combined using only a comma. The comma splice is such a common error because it is so subtle. Sentences with comma splices don't always sound wrong to the ear, so they can be easy to miss when proofreading.</p>
	<h4 class="example example-corrected example-corrected">The patient's diagnosis could not be confirmed. The doctor was still waiting on the test results. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Once again we correct our comma splice by dividing our independent clauses into two seperate sentences. Notice that the sentence still sounds similar when read aloud. Comma splices can be tricky!</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">The next way to correct a comma splice is by adding a <b>coordinating conjunction</b>. Coordinating conjunctions include and, but, for, or, nor, yet, and so. You should be able to identify these words and recognize when they are being used to connect to main clauses. Using a coordinating conjunction without a comma will result in a run-on sentence.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient's family was present and supportive for every step of treatment, the doctor felt confident in their ability to provide home care. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">Once again we have a comma splice, as two independent clauses are joined with only a comma. Our independent clauses are "The patient's family was present and supportive for every step of treatment" and "the doctor felt confident in their ability to provide home care". We'll fix this one by adding a coordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">The patient's family was present and supportive for every step of treatment, so the doctor felt confident in their ability to provide home care. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">This example uses the coordinating conjunction "so" to fix the comma splice, successfully creating a compound sentence out of the two independent clauses.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient with diabetes needs to monitor their blood glucose level carefully, insulin treatment can be used to help maintain a healthy level. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">Again, this example follows the same pattern as the one above. It combines two independent clauses with a comma, leaving out the neccessary coordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">The patient with diabetes needs to monitor their blood glucose level carefully,<span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation"></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 3</h1>

<section>
	<p class="example-intro">The last way to correct comma splices that we will use is to add a <b>subordinating conjunction</b> to one of our clauses. Subordinating clauses are words such as after, although, unless, when, and while. Whereas coordinating conjunctions combine two main clauses, subordinating conjunctions, as their name implies, subordinate one phrase to the other.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The doctor came into the room and greeted the patient, he checked the patient's charts. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">This example is a more obvious comma splice to the ear. This time we will fix it through the use of a subordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">After the doctor came into the room and greeted the patient, he checked the patient's charts. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Adding the subordinating conjunction, "after", to our first clause subordinates it to the second, correcting the comma splice.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse recorded the patient's vital signs, the doctor conducted the interview. <span class="red">COMMA SPLICE!</span></h4>
	<p class="example example-explanation example-explanation">Again we see two independent clauses incorrectly joined with only a comma. Notice the way this example feels like a list cut short. We will fix it through the use of a subordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">The nurse recorded the patient's vital signs while the doctor conducted the interview.<span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">We've corrected the comma splice by removing the comma and adding the subordinating conjunction, while. When the subordinated clause comes after it's parent clause, there is no need for a comma. When the subordinated clause comes first, a comma is necessary.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>


