<h1>Example 1</h1>

<section>
	<p class="example-intro">The comma is a common culprit responsible for the creation of run-on sentences.Commas are important tools for creating compound and complex sentences, but they must be used correctly. The following examples demonstrate the common errors in comma usage that lead to run-on sentences.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient was discharged from the hospital and the outpatient rehabilitation phase of treatment began.  <span class="red">RUN-ON SENTENCE!</span></h4>
	<p class="example example-explanation example-explanation">This example is a run-on sentence because it combines two independent clauses with a coordinating conjunction without the use of a comma. When we use a coordinating conjunction to combine two sentences, it <b>must</b> be preceded by a comma.</p>
	<h4 class="example example-corrected example-corrected">The patient was discharged from the hospital, and the outpatient rehabilitation phase of treatment began. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">There we go! We've fixed the run-on sentence by supplying the necessary comma before our coordinating conjunction. Remember, this isn't the only way to fix this run-on. We also could have split the two independent clauses into two seperate sentences like this: <i>The patient was discharged from the hospital. The outpatient rehabilitation phase of treatment began.</i></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">It was important that every nurse be comfortable with the computer system, they had special classes to help new staff members learn the system. <span class="red">RUN-ON SENTENCE!</span></h4>
	<p class="example example-explanation example-explanation">Here we see an error so common it has an entire unit dedicated to it, the comma splice. What makes this example a run-on is that it tries to use a comma alone to combine two independent clauses. With independent clauses, a comma by itself isn't enough, we also need a coordinating conjunction.</p>
	<h4 class="example example-corrected example-corrected">It was important that every nurse be comfortable with the computer system, and they had special classes to help new staff members learn the system. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Much better. This time we add the coordinating conjunction, <b>and</b>, and our run-on becomes a complete sentence. Again, we also could have divided the run-on into two seperate complete sentences: <i>It was important that every nurse be comfortable with the computer system. They had special classes to help new staff members learn the system.</i></p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<hr>

<h1>Example 2</h1>

<section>
	<p class="example-intro">Commas aren't the only source of run-on sentences. They can also be formed through the improper use of words and phrases known as <b>transitional phrases</b>. Transitional phrases are expressions used to link two ideas. Common transitional phrases are: however, therefore, for example, as a result, and on the contrary. When using a transitional phrase to link to independent clauses, it should always be preceded by a semicolon and followed by a comma. When reviewing these examples, notice what would happen if the independent clauses were divided into two seperate sentences. Would the same meaning be imparted?</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The initial treatment had gone smoothly and the patient had been discharged, however the improvement hadn't lasted, and the patient had been readmitted.  <span class="red">RUN-ON SENTENCE!</span></h4>
	<p class="example example-explanation example-explanation">This is a run-on due to the improper use of the transitional phrase <b>however</b>. Instead of being preceded by a semicolon and followed by a comma, it is only preceded by a comma. This is correct only with coordinating conjunctions, not transitional phrases. Transitional phrases must be preceded by a semicolon and followed by a comma.</p>
	<h4 class="example example-corrected example-corrected">The initial treatment had gone smoothly and the patient had been discharged; however, the improvement hadn't lasted, and the patient had been readmitted. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">We replace the comma before our transitional phrase <b>however</b> with a semicolon and follow it with a comma, and our run-on becomes a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">There are many over-the-counter drugs that can have potentially serious complications, for example, a tylenol (acetaminophen) overdose can cause liver damage. <span class="red">RUN-ON SENTENCE!</span></h4>
	<p class="example example-explanation example-explanation">This example is similar to the first, and gets one step closer to being correct by providing a comma after our transitional phrase, <b>for example</b>; however, it is still a run-on because it uses a comma before the transitional phrase instead of a semicolon.</p>
	<h4 class="example example-corrected example-corrected">There are many over the counter drugs that can have serious complications; for example, a tylenol (acetaminophen) overdose can cause liver damage. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">Once more we replace the comma preceding our transitional phrase with a semicolon, and our run-on becomes a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The hospital is an exceptionally complex environment that produces a large amount of data; therefore organizational efficiency and uniformity is extremely important.  <span class="red">RUN-ON SENTENCE!</span></h4>
	<p class="example example-explanation example-explanation">Can you guess what's wrong with this one? It uses a transitional phrase preceded by a semicolon, so what's missing? Remember, the semicolon isn't all you need when you use a transitional phrase. They must also be followed by a comma.</p>
	<h4 class="example example-corrected example-corrected">The hospital is an exceptionally complex environment that produces a large amount of data; therefore, organizational efficiency is extremely important. <span class="green">SENTENCE!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">By adding the missing comma after our transitional phrase we turn our run-on into a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>


