<h1>Examples</h1>

<section>
	<p class="example-intro">Faulty Parallelism occurs when elements in a sentence that are similar in terms of their meaning to the sentence but different in terms of their individual form or part of speech are treated as if they are the same. To correct faulty parallelism, match nouns with nouns, verbs with verbs, and other similarly constructed phrases with their respective matches. The following examples will cover different types of faulty parallelism. </p>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse checked the patient's temperature, gave him his medicine, and a snack. <span class="red">FAULTY PARALLELISM!</span></h4>
	<p class="example example-explanation example-explanation">Here we see faulty parallelism occuring with a list of actions. The first two items in the list, "checked the patient's temperature" and "gave him his medicine", are actions, but the third, "a snack", is a noun. To correct the error, we need to change the form of the last item so that it matches the others.</p>
	<h4 class="example example-corrected example-corrected">The nurse checked the patient's temperature, gave him his medicine, and served him a snack. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">The faulty parallelism in our example is corrected by converting the noun, "a snack", into the action, "served him a snack", which gives it a form that is parallel with the other items in the list.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse carried the sample, the chart, and opened the door, explaining the events to the rest of the team as she went. <span class="red">FAULTY PARALLELISM!</span></h4>
	<p class="example example-explanation example-explanation">This example's faulty parallelism comes from another mismatch of nouns and actions. This time the action, "opened the door", is included in the list of items the nurse carried. "Opening the door" should not be placed in a parallel relation with the objects in the list because it is in fact a parallel action to the parent action to which the objects belong, "The nurse carried".</p>
	<h4 class="example example-corrected example-corrected">The nurse carried the sample and the chart and opened the door, explaining the events to the rest of the team as she went. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">We fix the faulty parallelism in our example by separating our secondary action, "opened the door", from the list of the objects of our first action, "the nurse carried". This places the two actions in parallel structure, which aligns with the sentence's intended meaning.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Good personal healthcare includes diet and nutrition, exercise, preventative care, and having regular checkups with a physician. <span class="red">FAULTY PARALELLISM!</span></h4>
	<p class="example example-explanation example-explanation">This example is similar to the last in that it places an action in a sequence of objects. The difference between this example and the last is that in this example our action, "having regular checkups with a physician", does in fact have parallel meaning with the other items in the list. They are all included as things that contribute to good personal healthcare. To fix it, we will have to address the form of our final item.</p>
	<h4 class="example example-corrected example-corrected">Good personal healthcare includes diet and nutrition, exercise, preventative care, and regular checkups with a physician. <span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">To correct the faulty parallelism in our example, we convert the final item in the list from an action to a noun by dropping the verb "having". This gives our list proper parallel structure.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient asked the doctor about the drug's side effects, dosage regimen, and listed their past medications. <span class="red">FAULTY PARALLELISM!</span></h4>
	<p class="example example-explanation example-explanation">Once more we see an example of faulty parallelism in which an action is given parallel structure with a set of nouns to which it is not parallel in meaning. We can correct this by separating the action from the set of nouns.</p>
	<h4 class="example example-corrected example-corrected">The patient asked the doctor about the drug's side effects and dosage regimen and listed their past medications.<span class="green">CORRECT!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">We correct our sentence by removing the action "listed their past medications" from the list of nouns relating to the drug and placing it in parallel structure with the other action the patient took "asked the doctor". This fixes the faulty parallelism and gives us a complete sentence.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>