<h1>Examples</h1>

<section>
	<p class="example-intro">Pronouns are valuable parts of speech. They keep us from having to repeat our nouns over and over again by giving us a way to reference them. When using pronouns, we have to make sure they agree with the nouns they reference in terms of number. Singular nouns need singular pronouns, and plural nouns need plural plonouns. The following examples illustrate common errors in pronoun agreement.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">The nurse instructs the patient about the details of <span class="red">their</span> treatment.</h4>
	<p class="example example-explanation example-explanation">This is an example of incorrect pronoun usage because the pronoun used, "their", is plural, but the noun the pronoun is referencing, "the patient", is singular. To fix the pronoun agreement, the pronoun should be singular.</p>
	<h4 class="example example-corrected example-corrected">The nurse instructs the patient about the details of <span class="green">his or her</span> treatment. </h4>
	<p class="example corrected-explanation example-corrected-explanation">By replacing the plural pronoun, "their", with the singular pronoun, "his or her", we are able to achieve agreement between our noun and our pronoun.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The younger nurses should always try to learn from the older nurses, and the older nurses should always be willing to share <span class="red">his or her</span> knowledge with the younger nurses. </h4>
	<p class="example example-explanation example-explanation">This example is similar to the one above, only instead of a plural pronoun being paired with a singular noun we have a singular pronoun being paired with a plural noun. Notice that this one is more obviously wrong to the ear. Mistakes using "their, they, and them" are more common because they don't sound as incorrect.</p>
	<h4 class="example example-corrected example-corrected">The younger nurses should always try to learn from the older nurses, and the older nurses should always be willing to shair <span class="green">their</span> knowledge with the younger nurses. </h4>
	<p class="example corrected-explanation example-corrected-explanation">All we have to do to get our pronoun to agree is change it from "his or her" to "their".</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The doctor asked the nurse if <span class="red">they</span> would go to the nurses' station and meet the patient's family. </h4>
	<p class="example example-explanation example-explanation">Here again we see a singular noun being referenced by a plural pronoun. In this case the noun is "nurse" and the pronoun used to reference it is "they". This is incorrect and can be fixed by replacing "they" with a singular pronoun.</p>
	<h4 class="example example-corrected example-corrected">The doctor asked the nurse if <span class="green">he</span> would go to the nurses' station and meet the patient's family. </h4>
	<p class="example corrected-explanation example-corrected-explanation">Replace the plural pronoun, "they", with the singular pronoun, "he", and the sentence is corrected. Remember that they, them, and their should only ever be used with plural nouns.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patient was upset and talked to the nurse about how <span class="red">they</span> felt like nobody listened to <span class="red">them</span>.</h4>
	<p class="example example-explanation example-explanation">This example has not one pronoun that disagrees with its antecedent, but two. Can you pick them out? Is our subject singular or plural?</p>
	<h4 class="example example-corrected example-corrected">The patient was upset and talked to the nurse about how <span class="green">he</span> felt like nobody listened to <span class="green">him</span>.</h4>
	<p class="example corrected-explanation example-corrected-explanation">Were you right? Our noun, "the patient", is singular, so it should be paired with singular pronouns; however, the pronouns used are "they" and "them", which are both plural pronouns. We replace "they" and "them" with the singular pronouns "he" and "him", and our sentence is corrected.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">The patients in the group got time to talk about <span class="red">his or her</span> conditions and the effects of <span class="red">his or her</span> treatment.</h4>
	<p class="example example-explanation example-explanation">Again here we see singular pronouns being used with plural nouns. Our noun is "the patients" and the pronouns that reference it are "his or her". Both instances of the singular pronoun should be changed to the appropriate plural pronoun.</p>
	<h4 class="example example-corrected example-corrected">The patients in the group got time to talk about <span class="green">their</span> conditions and the effects of <span class="green">their</span> treatments.</h4>
	<p class="example corrected-explanation example-corrected-explanation">We fix our sentence by replacing the singular pronoun "his or her" with the plural pronoun "their" in both places it appears.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>
