<h1>Examples</h1>

<section>
	<p class="example-intro">Awkward construction occurs whenever the structure of a sentence confuses the meaning or makes the sentence less readable. There are many different causes of awkward construction, and awkward construction can occur even in sentences with perfect punctuation.</p>
</section>

<section>
	<h4 class="example example-sentence example-example">Clinical decision support systems help healthcare providers connect to research-based knowledge, increasing the quality of care, and they can provide alarms and alerts, reducing the risk of error.<span class="red">AWKWARD!</span></h4>
	<p class="example example-explanation example-explanation">This sentence is awkward because of the over-use of commas and clumsy grouping.</p>
	<h4 class="example example-corrected example-corrected">Clinical decision support systems help healthcare providers connect to research-based knowledge and provide alarms and alerts, increasing the quality of care and reducing the risk of error.<span class="green">BETTER!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">To correct the awkward construction, we group our items based on their role in the sentence. Remember, with awkward construction there is often more than one way to fix the problem. Here, we also could have replaced the comma before "and they can provide alarms and alerts" with a semicolon.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">While she realized she could have ignored the thought that she had misread the screen, she thought that to double check would probably not be a bad idea.<span class="red">AWKWARD!</span></h4>
	<p class="example example-explanation example-explanation">Here see an example of awkward construction resulting from the overuse of the passive voice. </p>
	<h4 class="example example-corrected example-corrected">While she realized she could have ignored the thought that she had misread the screen, she thought double checking was not a bad idea.<span class="green">SENTENCE!</span>BETTER!</h4>
	<p class="example corrected-explanation example-corrected-explanation">By replacing the passive verb form "to double check" with the active form "double checking" we relieve the sentence from being overwhelmed by the passive voice, increasing it's clarity.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>

<section>
	<h4 class="example example-sentence example-example">Withdrawal symptoms could be very dangerous and even could be life-threatening, and patients who were experiencing them needed to be monitored closely by their nurses. <span class="red">AWKWARD!</span></h4>
	<p class="example example-explanation example-explanation">This sentence suffers from awkward construction due to overused passive voice and clumsy organization of clauses.</p>
	<h4 class="example example-corrected example-corrected">Withdrawal symptoms could be very dangerous and even life-threatening; nurses need to monitor patients going through withdrawal closely. <span class="green">BETTER!</span></h4>
	<p class="example corrected-explanation example-corrected-explanation">We make our sentence much more readable by removing the redundant words, reducing passive voice, and reorganizing our clauses.</p>
	<button class="btn btn-large btn-primary example-button">Show Example</button>
</section>
