@import "bootstrap";

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* --------- Variables, Mixins, etc. --------- */

$grayMediumLight: #eaeaea;

$bluePurple: #3f3075;
$bluePurpleLighter: #605293;
$bluePurpleLightest: #877CB0;
$bluePurpleDarker: #251758;
$bluePurpleDarkest: #12073B;

$purple: #562A72;
$purpleLighter: #744B8E;
$purpleLightest: #9675AB;
$purpleDarker: #3B1255;
$purpledarkest: #240339;

$blueGreen: #2D4471;
$blueGreenLighter: #4E638E;
$blueGreenLightest: #7788AA;
$blueGreenDarker: #152B55;
$blueGreenDarkest: #061739;

$green: lighten(#226666, 7.5%);
$greenLighter: #407F7F;
$greenLightest: #669999;
$greenDarker: lighten(#0D4D4D, 7.5%);
$greenDarkest: #003333;

$blue: #2E4272;
$blueLighter: #4F628E;
$blueLightest: #7887AB;
$blueDarker: #162955;
$blueDarkest: #061539;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------- Universal --------- */

html {
	overflow-y: scroll;
	font-family: 'Open Sans'; 
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	margin: 0 auto;
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

li {
	list-style: none;
}

.btn-primary {
	color: $grayMediumLight;
	background-color: $green;
	border: 2px solid darken($green, 2%);
	&:hover, &:focus, &:active {
		background-color: $greenDarker;
		border-color: $greenDarker;
	}
}

#main-content {
	margin-top: 120px;
}

.alert {
	margin-top: -35px;
}

hr {
	margin: 35px 0;
}

* {
	border-radius: 0px !important;
}

/* --------- Typography --------- */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-family: 'Open Sans';
	font-size: 1.175em;
	line-height: 2.1em;
}

a {
	color: lighten($blueGreen, 15%);
	&:hover, &:active, &:focus {
		color: $blueGreenDarker;
	}
}

.red {
	color: red;
}

.green {
	color: green;
}

/* --------- Header --------- */

#logo {
	float: left;
	font-size: 1.8em;
	padding: 15px;
	background-color: $blueLighter;
	color: $blueDarkest;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1;
	border-bottom: 10px ridge $bluePurple;
	border-right: 10px ridge $bluePurple;
	border-left: 10px ridge $bluePurple;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.nav {
	margin-top: 10px;
}

.nav li a {
	font-size: 1.175em;
}

.nav li a:hover, .nav li a:focus {
	background-color: white;
	color: darken($blueLighter, 25%);
}

/* --------- Footer --------- */

footer {
	@extend .col-md-8;
	@extend .col-md-offset-2;
	margin-top: 75px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* --------- Home --------- */

.jumbotron {
	margin: 0 auto;
	width: 80%;
}

h3 {
	margin-bottom: 30px;
}

/* --------- Forms --------- */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input[type="submit"] {
	width: 30%;
}

input {
	height: auto !important;
}

/* --------- Errors --------- */

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* --------- Units --------- */

#unit-description {
	margin-bottom: 30px
}

#question-button {
	margin-bottom: 30px;
}

.example {
	display: none;
	margin-left: -25px;
}

.example-intro, .example-sentence, .example-corrected,
.example-explanation, .example-corrected-explanation {
	margin-bottom: 30px;
}

.hide-button {
	display: none;
}

.example-button {
	display: inline-block;
	margin-left: 0;
}

.unit-content {
	margin-bottom: 50px;
}

section {
	overflow: visible;
	margin-bottom: 40px;
}

/* --------- Questions --------- */

.question-label {
	margin-bottom: 15px;
}

.question-prompt {
	text-align: center;
}

.question-prompt p:nth-of-type(2) {
	margin: 15px 50px;
	margin-bottom: 15px;
}

form {
	font-size: 1.1em;
}

input[type="radio"], label {
	display: inline-block;
	margin-top: 20px;
}

input[type="radio"] {
	width: 30px;
}

label {
	width: 95%;
}

.answer-submit {
	float: left;
	input[type="submit"] {
		width: 100%;
	}
}

#hint-button {
	width: 50%;
	input[type="submit"] {
		width: 98px;
		margin-left: 5px;
		padding: 5px;
	}
}
